#screen {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 5px;
    background-color: rgb(133, 236, 164);
    height: 500px;
    width: 350px;
}

#dialog-zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: whitesmoke;
    overflow: auto;
    height: 400px;
}

#user-zone {
    border: 10px solid grey;
    flex-direction: column;
    align-self: stretch;
    padding: 5px;
    height: 100px;
    /* width: 300px; */
}

#text-zone {
    position: relative;
    left: 12px;
    align-self: stretch;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

#text-input {
    width: 245px;
    height: 25px;
}

h1 {
    font-size: large;
    font-family: fantasy;
}

.button:hover {
    box-shadow: 0px 0px 1px 1px black;
}

#send-button {
    position: relative;
    border-radius: 100%;
    top: 8px;
    background-color: rgb(255, 126, 238);
    border: 3px solid black;
    width: 40px;
    height: 40px;
}

.message {
    font-size: small;
    text-align: left;
    padding: 7px;
    border-radius: 5px;
}

.user-message {
    text-align: right;
    background-color: green;
}

.bot-message {
    background-color: grey;
}