#screen {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 5px;
    background-color: tomato;
    height: 600px;
    width: 350px;
}

#dialog-zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: whitesmoke;
    overflow: auto;
    height: 400px;
}

#user-zone {
    align-self: center;
    margin: 5px;
    padding: 5px;
    height: 200px;
    width: 300px;
}

#text-input {
    align-self: flex-start;
    width: 245px;
}

button {
    border-radius: 25%;
    border: 3px solid black;
    display: inline-block;
}

.button:hover {
    box-shadow: 0px 0px 1px 1px black;
}

#send-button {
    border-radius: 100%;
    background-color: rgb(255, 126, 238);
    width: 40px;
    height: 40px;
}

.message {
    font-size: small;
    text-align: left;
    margin: 4px;
    padding: 7px;
    border-radius: 5px;
}

.user-message {
    text-align: right;
    justify-self: right;
    background-color: green;
}

.bot-message {
    background-color: grey;
}